@media screen and (max-width: 1200px) {
    * {
        padding: 0 0 0 0;
    }

    .box {
        flex-wrap: wrap;
        flex-direction: column;    
    }
    .item {
        width: 100%;
        height: auto;
    }
    .description: {
        flex-shrink: 0;
    }
    #pic {
        display: flex;
        height: auto;
        width: 100%;
    }
}

body {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: #ffcf2f;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: orangered;
}
p {
    text-align: justify;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 15px 15px 15px 15px;
    justify-content: center;
    align-items: center
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    justify-content: baseline;
    padding: 2%;
    height: 150px;
    background-color: orangered;
}
.item {
    padding: 15px 15px 15px 15px;
    overflow: hidden;
}
.video {
    padding: 15px;
    overflow: visible;
}