@media screen and (max-width: 600px) {
    .box {
        flex-wrap: wrap;
    }
    .item {
        width: 100%;
        height: auto;
    }
    body {
        padding: 0%;
    }
    #description: {
        width: 100%;
    }
}

body {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: #ffcf2f;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: orangered;
}
p {
    text-align: justify;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 15px 15px 15px 15px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}
.item {
    padding: 15px 15px 15px 15px;
    height: 500px;
    width: auto;
    overflow: hidden;
}
.video {
    padding: 15px;
    overflow: visible;
}

#description {
    width: 25%;
}