.container, h1 {
    border: 3px solid black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;  
}

body {
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#voiceList {
    font-size: 20px;
}
.selectVoice{
    font-size: 20px;
}

#txtInput {
    justify-content: center;
}

#btnSpeak {
    size: 40px;
}
